@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: .88rem;
    background: #E3D8F1;
    user-select: none;
    overflow-x: hidden;
    color: #fff;
}
*{
    color: #fff;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{font-size: 1.4rem;}
h3{font-size: .87rem;}
h4{font-size: .8rem;}
h5{font-size: .77rem;}
small{font-size: .75rem;}


.container{
    position: relative;
    display: grid;
    width: 93%;
    margin: 0 3rem;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    padding-top: 4rem;
}
header h3{font-weight: 500;} 
header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background-color: #584141;
}
header.active{box-shadow: 0 2rem 3rem #aca2a2;}
header .logo{
    display: flex;
    gap: .8rem;
    margin-right: auto;
}
header .logo img{
    width: 2rem;
    height: 2rem;
}

header,
header .navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
    color: #d63f3f;
}
header .navbar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    padding: 0 2rem;
}
header .navbar a:hover {
    padding-top: 1.5rem;
}
header .navbar a.active{
    background: #74899d;
    color: #949a93;
}
header .navbar a.active::before{
    content: "";
    background-color: #74899d;
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;top: 0;
}
header #profile-btn{
    display: none;
    font-size: 2rem;
    margin: .5rem 2rem 0 0;
    cursor: pointer;
}
header .theme-toggler{
    background: #aca2a2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0 2rem 3rem #c6b6b6;
    margin-right: 2rem;
}
header .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .theme-toggler span.active{
    background-color: rgb(60, 102, 32);
    color: rgb(24, 20, 39);
    border-radius: 2rem;
}

/* Profile section  */
aside .profile{
    margin-top: 2rem;
    width: 13rem;
    position: fixed;
}
aside .profile .top{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #bba7a7;
    padding-bottom: 1rem;
}
aside .profile .top:hover .profile-photo{
    scale: 1.05;
}
aside .profile .top .profile-photo{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #cec3c3;
    transition: all 400ms ease;
}
aside .profile .about p{
    padding-bottom: 1rem;
}
aside .profile .about{
    margin-top: 1rem;
}

/* Home Section  */
main{
    position: relative;
    margin-top: 1.4rem;
}
main .subjects{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

main .subjects > div{
    background-color: #74899d;
    padding: 1.8rem;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem #cec3c3;
    transition: all 300ms ease;
}
main .subjects > div:hover{
    box-shadow: none;
}
main .subjects > div span{
    background-color: #74899d;
    padding: .5rem;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
main .subjects > div.mth span,main .subjects > div.cg span{background: #584141;}
main .subjects > div.cs span{background: #74899d;}

main .subjects h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .subjects .progress{
    position: relative;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    margin: auto;
}
main .subjects svg circle{
    fill: none;
    stroke: rgb(149, 248, 222);
    stroke-width: 8;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
main .subjects .eg svg circle{
    stroke-dashoffset: 25;
    stroke-dasharray: 210;
}
main .subjects .mth svg circle{
    stroke-dashoffset: 7;
    stroke-dasharray: 210;
}
main .subjects .cs svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 210;
}
main .subjects .cg svg circle{
    stroke-dashoffset: 0;
    stroke-dasharray: 210;
}
main .subjects .net svg circle{
    stroke-dashoffset: 5;
    stroke-dasharray: 210;
}
main .subjects .progress .number{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .subjects small{
    margin-top: 1rem;
    display: block;
}
main .timetable{
    margin-top: 2rem;
}
main .timetable h2{
    margin-bottom: .8rem;
}
main .timetable table{
    background-color: #584141;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem #cec3c3;
    transition: all 300ms ease;
}
main .timetable span{display: none;}
main .timetable table:hover{box-shadow: none;}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid #000;
    color: #cec3c3;
}
main table tbody tr:last-child td{border: none;}

main .timetable.active{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .timetable.active h2{
    color:#584141;
}
main .timetable.active table{
    width: 90%;
    max-width: 1000px;
    position: relative;
}
main .timetable.active span{
    display: block;
    font-size: 2rem;
    color: #74899d;
    cursor: pointer;
}
.timetable div{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .timetable.active .closeBtn{
    position: absolute;
    top: 5%;right: 5%;
}


/* Right  */
.right{margin-top: 2.2rem;padding-left: 1.5rem;}

.announcements h2{margin-bottom: .8rem;}
.announcements .updates{
    background-color: rgb(48, 48, 49);
    padding: 1.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem #6b6969;
    transition: all 300ms ease;
}
.announcements .updates:hover{box-shadow: none;}
.announcements .updates .message{
    gap: 1rem;
    line-height: 1.5;
    padding: .5rem 0;
}

/* Teachers on leave  */
.right .leaves{margin-top: 2rem;}
.right .leaves h2{margin-bottom: .8rem;}
.right .leaves .teacher{
    background: #584141;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem 1.8rem;
    border-radius: 2rem;
    transition: all 300ms ease;
    box-shadow: 0 2rem 3rem #4d4c4c;
}
.right .profile-photo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.right .leaves .teacher:hover{box-shadow: none;}





/* MEDIA QUERIES  */
@media screen and (max-width: 1200px) {
    html{font-size: 12px;}
    .container{
        grid-template-columns: 13rem auto 20rem;
    }
    header{position: fixed;}
    .container{padding-top: 4rem;}
    header .logo h2{display: none;}
    header .navbar h3{display: none;}
    header .navbar a{width: 4.5rem; padding: 0 1rem;}

    main .subjects{
        grid-template-columns: repeat(2, 1fr);
        gap: 1;
    }
    main .timetable{
        width: 150%;
        position: absolute;
        padding: 4rem 0 0 0;
    }
}


@media screen and (max-width: 768px){
    html{font-size: 10px;}
    header{padding: 0 .8rem;}
    .container{width: 100%; grid-template-columns: 1fr;margin: 0;}
    header #profile-btn{display: inline;}
    header .navbar{padding: 0;}
    header .navbar a{margin: 0 .5rem 0 0;}
    header .theme-toggler{margin: 0;}
    aside{
        position: absolute;
        top: 4rem;left: 0;right: 0;
        background-color: #584141;
        padding-left: 2rem;
        transform: translateX(-100%);
        z-index: 10;
        width:18rem;
        height: 100%;
        box-shadow: 1rem 3rem 4rem #686464;
        transition: all 2s ease;
    }
    aside.active{
        transform: translateX(0);
    }
    main{padding: 0 2rem;}
    main .timetable{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .timetable table{
        width: 100%;
        margin: 0;
    }
    
}